<div class="container">
  <h1>Entrega de POD</h1>
  <form [formGroup]="podForm">
    <div class="form-group">
      <label for="comprobante">Comprobante firmado de guía de envío <b style="color:#ff2c4b">*</b></label>
      <input type="file" accept=".pdf, .jpg, .png" formControlName="guia">
    </div>
    <div class="form-group">
      <label for="documentos">Comprobantes firmados de documentos de entrega <b style="color:#ff2c4b">*</b></label>
      <input type="file" multiple accept=".pdf, .jpg, .png" formControlName="documentos">
    </div>
    <button (click)="savePDO()">Enviar</button>
  </form>
</div>