.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #888888;
  border-radius: 15px;

  .navbar-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 15rem;

    img {
      max-height: 40px;
    }
  }

  .navbar-items {
    display: flex;
    align-items: center;

    a {
      margin: 0 15px;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      transition: color 0.3s ease;

      &:hover {
        text-decoration: underline;
        color: #f0f0f0;
      }
    }
  }
}